# Core App
streamlit
fpdf
fitz  # If not recognized, use PyMuPDF instead: pymupdf
pymupdf
transformers==4.39.3
torch==2.1.2
sentencepiece
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
easyocr
youtube-transcript-api
genanki
